.App {
  text-align: center;
  font-family: Futura;
  overflow: hidden;
}

.App-NavBox {
  font-size: 18px;
  position: fixed;
  width: 100px;
  height: 190px;
  top: 50;
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.faded {
  /* opacity: .-=5; */
}

.navItem {
  text-decoration: none;
  width: 100%;
  padding: 20px 0px;
  color:black;

  -webkit-user-select: none; /* Safari */   
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

a:hover {
  /* background-color: #FFFFFF; */
  color: rgb(173, 26, 26);
}

a:active { 
  color: rgb(173, 26, 26);
}

.active {
  /* background-color: rgb(250, 87, 87); */
  background-color: rgb(26, 26, 173);
  color: white;
}

.active a:hover {
  background-color: rgb(26, 26, 173);
  color: white;
}

.res {
  position: absolute;
  width: 80%;
  height: 100%;
}

.LogoShadow {
  position: absolute;
  padding-left: 30px;
  color: black;
}

.Logo {
  font-weight: bold;
  color: black;
  font-size: 60vmin;
  position: fixed;

  -webkit-user-select: none; /* Safari */   
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.SplashLogo {  
  /* Safari */
  -webkit-transform: rotate(-90deg);

  /* Firefox */
  -moz-transform: rotate(-90deg);

  /* IE */
  -ms-transform: rotate(-90deg);

  /* Opera */
  -o-transform: rotate(-90deg);
  
  /* outline: 4px solid #BF3100;
  outline-offset: 15px; */
  /* animation: App-logo-spin infinite 40s linear; */
}

.App-logo {
  /* animation: App-logo-spin infinite 40s linear; */
  height: 70vmin;
}

.pageNav {
  padding-left: 70vw;
  /* position: fixed; */
}

.App-header {
  background-color: white; /*rgb(243, 118, 16);*/
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-link {
  color: #D76A03;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

p {
  color: rgb(26, 26, 173);
}

h1 {
  position: fixed;
  color: grey;
  top: 10%;
  opacity: .1;
  font-size: 230px;
  line-height: .6;
  margin: 0px;

  -webkit-user-select: none; /* Safari */   
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

img {
  position: fixed;
  left: 15%;
  top: 0%;
  height: 100%;
}

.res {
  position: absolute;
  left: 10%;
}

.bio {
  position: absolute;
  left: 10%;
  top: 30%;
  width: 50%;
  text-align: justify;
}

.portItem {
  position: relative;
  width: 90%;
  left: 10%;
}

.portfolio {
  position: absolute;
}